node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
!.env.example
logs
*.log
.vscode
.idea
.DS_Store
Thumbs.db
README.md
docker
docker-compose.yml
docker-compose.dev.yml
.dockerignore
coverage
.nyc_output
dist
build
